@use "../abstracts/reset";
@use "../abstracts/colors";
@use "../abstracts/fonts";

* {
    font-family: fonts.$nunito;
}

html {
    font-size: 62.5%;
}

header {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1.6rem;

    .title {

        h1 {
            font-size: 1.4rem;
            font-weight: 800;
        }
    }

    .theme {
        i {
            font-size: 1.6rem;
            margin-right: 0.8rem;
        }

        button {
            font-size: 1.2rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            border: none;
        }
    }
}

main {
    padding: 1.6rem;
    min-height: 100vh;
    background: colors.$main-dark;

    .search-area {

        .search {
            background: colors.$input-dark;
            padding: 1.6rem 3.2rem;
            display: flex;
            align-items: center;
            border-radius: 0.5rem;
            margin-bottom: 4rem;

            i {
                font-size: 1.6rem;
                margin-right: 2.6rem;
            }

            form,
            input {
                width: 100%;
            }

            input {
                border: none;
                outline: none;
                font-size: 1.2rem;
                background: colors.$input-dark;
            }
        }

        select {
            padding: 1.4rem 2.4rem;
            border: none;
            outline: none;
            font-size: 1.2rem;
            border-radius: 0.5rem;
        }
    }

    .countries {
        margin-top: 3.4rem;
        padding: 3.4rem;

        .card {
            width: 26.4rem;
            border-radius: 0.5rem;
            margin-bottom: 4rem;

            img {
                width: 100%;
                height: 16rem;
                border-radius: 0.5rem 0.5rem 0 0;
            }

            .info {
                padding: 2.4rem 2.4rem 3.8rem 2.4rem;

                h2 {
                    font-size: 1.8rem;
                    font-weight: 800;
                    margin-bottom: 1.6rem;
                }

                p {
                    font-size: 1.4rem;
                    margin-bottom: 0.8rem;
                    font-weight: 300;
                }

                strong {
                    font-weight: 600;
                }
            }
        }
    }
}

@mixin themeSwitch($theme-name, $texts, $cards, $input, $main) {
    .#{$theme-name} {
        header {
            background: $cards;
            color: $texts;

            .theme {
                button {
                    background: $cards;
                    color: $texts;
                }
            }
        }

        main {
            background: $main;

            .search {
                background: $cards;
                color: $texts;

                input {
                    background: $cards;
                    color: $texts;

                    &::placeholder {
                        color: $texts
                    }
                }
            }

            .options {
                background: $cards;
                color: $texts;
            }
    
            .card {
                background: $cards;
                color: $texts;
            }
        }
    }
}

@media (min-width: 600px) {
    .countries {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .card {
            width: 26.4rem;
            border-radius: 0.5rem;
            margin-right: 3rem;

            img {
                width: 100%;
                height: 16rem;
                border-radius: 0.5rem 0.5rem 0 0;
            }

            .info {
                padding: 2.4rem 2.4rem 3.8rem 2.4rem;

                h2 {
                    font-size: 1.8rem;
                    font-weight: 800;
                    margin-bottom: 1.6rem;
                }

                p {
                    font-size: 1.4rem;
                    margin-bottom: 0.8rem;
                    font-weight: 300;
                }

                strong {
                    font-weight: 600;
                }
            }
        }
    }
}

@include themeSwitch(light-theme, colors.$text-light, colors.$cards-light, colors.$input-light, colors.$main-light);

@include themeSwitch(dark-theme, colors.$text-dark, colors.$cards-dark, colors.$input-dark, colors.$main-dark);